#menu-superior {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center; 
  padding-bottom: 40px;
}

#post-exterior {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#post-interior {
    background-color: aqua;
    min-height: 100px;
}